---
import Logo from '../../components/Logo.astro'
---

<header class="w-full py-4 px-10 text-white fixed flex items-center justify-between z-40">
    <a href="#" class="flex flex-grow basis-0">
        <Logo />
    </a>
    <nav>
        <ul class="flex text-sm [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:px-2">
            <li>
                <a href="#">Vehicles</a>
            </li>
            <li>
                <a href="#">Energy</a>
            </li>
            <li>
                <a href="#">Charging</a>
            </li>
            <li>
                <a href="#">Discover</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
        </ul>
    </nav>

    <nav class="flex flex-grow basis-0 justify-end">
        <ul class="flex [&>li>a]:text-white [&>li>a]:text-lg [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:px-2">
            <li>
                <a href="#">
                    <i class="fa-regular fa-circle-question"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-globe"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-circle-user"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>